<%- include('./includes/homeHeader')%>
    <%- include('./includes/homeNavBar')%>

        <div style="width:98%">
            <div class="d-flex justify-content-center">

                <a href="/novoItem">
                    <button name="" id="" class="btn btn-primary" btn-lg btn-block">Novo</button>
                </a>
            </div>
        </div>


        <div class="row my-3">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <%- include('./includes/messages')%>
                <table class="table">
                    <thead class="bg-dark">
                        <tr>
                            <th class="text-white">Nome</th>
                            <th class="text-white">Sobrenome</th>
                            <th class="text-white">Email</th>
                            <th class="text-white">Telefone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for(let register of agenda) {%>
                            <tr>
                                <td scope="row">
                                    <%=register.nome%>
                                </td>
                                <td>
                                    <%=register.sobrenome%>
                                </td>
                                <td>
                                    <%=register.email%>
                                </td>
                                <td>
                                    <%=register.telefone%>
                                </td>
                            </tr>
                            <%}%>

                    </tbody>
                </table>
            </div>
            <div class="col-lg-2"></div>
        </div>


        <%- include('./includes/homeFooter')%>